html, body {
	margin: 0px; 
	height: 100%; 
	width: 100%; 
	font-family: sans-serif;
/*	line-height: 25px;*/
}

/* Background */

.backimg {
	background-image: url("assets/background_img.jpg"); 
	background-position: top; 
	background-repeat: no-repeat; 
	background-size: cover; 
	height: 100%;
}

.background {
	background-color: #55A5E2; 
	background-position: top; 
	background-repeat: no-repeat; 
	background-size: cover; 
	height: 100%;
}

/* Navbar */

.navbar {
	font-size: 18px;
	background-color: transparent;
	display: inline-block;
}

.navul {
	list-style-type: none;
	display: flex;
}

.navli {
	color: #000;
	padding: 0px 10px;
}

a {
	color: #000;
}

a:hover {
	color: #fff;
}

/* Index content */

.index-text {
	color: #000;
	padding: 15%;
	font-size: 20px;
	padding-left: 10%;
}

/* Page headers */

.page-header {
	font-size: 18px;
	text-align: center;
}

/* Large content containers */

.content-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
	padding-top: 50px;
	/*border:  5px solid red;*/
}

.contact-content-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 50px;
	/*border:  5px solid red;*/
}

/* Small content containers */

.work-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	/*border: 5px dashed green;*/
	width: 300px;
	padding: 0px 10px;
}

.about-container {
	display: flex;
	flex-direction: column;
	/*border: 5px dashed green;*/
	width: 300px;
	padding: 0px 50px;
}

.about-img-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.about-img {
	border-radius: 50%;
	max-width: 100%;
	float: left;
	/*border: 5px dashed green;*/
}

.work-img {
	width: 300px;
	height: auto;
}

.text-container {
	display: flex;
	flex-direction: column;
	/*flex-wrap: wrap;*/
	/*justify-content: space-evenly*/;
	/*border: 5px dashed green;*/
	width: 400px;
	padding: 0px 10px;
}

h4 {
	font-weight: 100;
	font-size: 20px;
	font-style: italic;
}

h3, h4 {
	margin-top: 5px;
	margin-bottom: 5px;
}

.work-text {
	width: 100%;
}

/* Contact form */

.form {
	display: flex;
	justify-content: center;
}

.email {
	margin-top: 2px;
}

.messbox {
	margin-top: 2px;
	width: 300px;
	height: 100px;
}

.subbtn {
	margin-top: 2px;
}

/* Contact social media */

/*.socbar {
	display: inline-block;
	justify-content: center;
}*/

.socul {
	list-style-type: none;
	display: flex;
	justify-content: center;
}

.socli {
	padding: 10px;
}

/* Footer */

.index-footer {
	color: #fff;
	position: fixed;
	bottom: 0;
	left: 0;
	padding-left: 5px;
	display: inline-block;
}

footer p {
	color: #000;
	position: fixed;
	bottom: 0;
	left: 0;
	padding-left: 5px;
	display: inline-block;
}